[BEGINVDF]
Comment="Gothic - Font Data - %%D%%N (C) 1999 Piranha Bytes"
BaseDir="F:\Gothic"
VDFName="F:\Gothic\Data\ModVdf\Fonts.mod"
[FILES]
Data\Textures\Fonts\*.* -r
[EXCLUDE]
*.lnk -r
*.bak -r
*.zip -r
[INCLUDE]
[ENDVDF]